{% extends "edc_dashboard/listboard.html" %}
{% load admin_urls %}
{% load edc_base_extras %}
{% load potlako_dashboard_extras %}

{% block listboard_panel %}

{% endblock listboard_panel %}

{% block listboard_table_header %}

    <!-- begin results header -->
    <th>#</th>
    <th></th>
    <th>Subject Identifier</th>
    <th>Age</th>
    <th>User</th>
    <th>Modified</th>
    <th>Host</th>
    <!-- end results header -->
{% endblock listboard_table_header %}

{% block listboard_table_button_column %}
    {% if results.coordinator_exit_model_obj %}
        <td style="white-space: nowrap;">
            <div class="btn-group">

                {% care_seeking_endpoint_button result %}

            </div>
            <div class="btn-group">

                {% cancer_dx_endpoint_button result %}

            </div>
        </td>
    {% endif %}
{% endblock listboard_table_button_column %}


{% block listboard_table_columns %}

    <td>{{ result.subject_identifier }}</td>
    <td nowrap></td>
    <td nowrap></td>
    <td nowrap></td>
    <td nowrap></td>

{% endblock listboard_table_columns %}
