{% load static %}
{% block extra-styles %}
	 <!-- <link rel="stylesheet" type="text/css" href="{% static 'potlako_dashboard/css/potlako_dashboard.css' %}"> -->
{% endblock extra-styles %}
 	
 			
	  <a id="verbal_script_add_{{ screening_identifier }}" title="{{ title }}" 
	     class="btn btn-warning btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true">
	     Verbal Consent
	   </a>
	   <div class="dropdown-menu dropdown-menu-right" style="text-decoration: none; min-width:85px; padding: 5px 10px;">
	    <a class="dropdown-item" href="{% url 'potlako_dashboard:verbal_consent_url'  screening_identifier %}?language=tn">Setswana</a>
	    <div class="dropdown-divider"></div>
	    <a class="dropdown-item" href="{% url 'potlako_dashboard:verbal_consent_url'  screening_identifier %}?language=kck">Ikalanga</a>
	    <div class="dropdown-divider"></div>
	    <a class="dropdown-item" href="{% url 'potlako_dashboard:verbal_consent_url'  screening_identifier %}?language=en">English</a>
	  </div>
  
 
