
    
Polelo ya tetla ya tshekatsheko ya Potlako+ 

 Dumela rra/mma mo[mosong/motshegareng/maitseboeng], Leina la me ke [bua leina la gago].
 Ke mongwe wa ba tshekatsheko ya Potlako+, ko Botswana Harvard AIDS Institute.Ke dumela gore o 
 amogetse kitso nngwe ka yone, go tswa mo modiring wa gago wa botsogo, mo loetong la gago la mo 
 bogautshwaneng ko bookelong. A o na le metsotsonyana gore re buisane ka tshekatsheko? <br><br>
 
 <ul>
   <li>Fa Karabo e le “EE”, tswelela ka tse di latelang. </li>
   <li>Fa Karabo e le “NNYAA”, mme a na le keletso ya go tsaya karolo, 
       tlhomamisa nako e e botoka ya go letsa gape, go buisana ka tshekatsheko. </li>
   <li>Fa Karabo e le “NNYAA”, mme ebile a kopa gore go seka ga ikgolaganngwa le ene gape, 
       mo lebogele nako ya gagwe. </li>
 </ul>
 
Re go laletsa go tsaya karolo mo tshekatshekong ka gore modiri wa gago wa botsogo o akanya gore o 
ka tswa o na le kankere, mme o tlhoka tlhokomelo ya tlaleletso. Re leka go tlhaloganya gore, a go 
fa balwetsi thuto le kemo-nokeng, go ka dira gore kankere e lemogiwe, e bo e alafiwe ka bofefo. <br> <br>

 Go tsaya karolo mo tshekatshekong go akaretsa go dumela go fiwa thuto le melaetsa ya kemo nokeng 
 ka mogala, jaaka go tlhalosiwa mo fomong e. <br> <br>
			
 Gore a o tsaya karolo kgotsa nnyaa, ke itlhophelo ya gago. O kgona go tsaya tshwetso ya go seke o 
 tsaya karolo. O kgona go dumela go tsaya karolo, mme e re ko morago, o fetole mogopolo wa gago. 
 Tshwetso ya gago ga e na go dirisiwa kgatlhanong le wena. O ka buisana le ba lelwapa la gago, 
 ditsala le/kgotsa modiri wa botsogo ka tshwetso ya gago. O ka botsa dipotso tsotlhe tse o eletsang 
 go di botsa pele ga o tsaya tshwetso. <br> <br>
			
 <strong> A o na le dipotso gone jaana? [ema sebakanyana] </strong> <br> <br>
 
 Bontsi jwa balwetsi ba tla tsaya karolo mo tshekatshekong ka sebaka se e ka nnang ngwaga. Tshekatsheko 
 e akaretsa metse e le masome a mabedi mo Botswana, le dikokelwana tsa yone.     Mo metseng yotlhe, 
 tshekatsheko e tla rutuntsha badiri ba botsogo gore ba akanye ka kankere leng, le kafa ba ka tsayang 
 tshwetso ya gore bokoa ke kankere ka teng. Re tla leletsa balwetsi botlhe ba ba ka tswang ba na le kankere, 
 go ba fa bogakolodi le go ba botsa ka dikai tse ba nang le tsone. Re tla letsa gape ka kgwedi ya borataro 
 le ya lesome le bobedi morago ga mogala wa ntlha, go botsa dipotso ka tlhokomelo ya bongaka e o e amogetseng.  <br> <br>
 
 Mo sephatlhong sa metse, re tla oketsa kemo-nokeng mo balwetsing, ka lenaneo le le bidiwang Potlako+. Metse 
 e tlhophilwe ka khupele-khupele, jaaka go dikolosa ledi la tshipi, go amogela lenaneo la Potlako+. Fa motse 
 wa gaeno o tlhophetswe Potlako+, re tla go thusa, wena le modiri wa gago wa botsogo, go itse tsela e e siameng 
 ya go itse gore a o na le kankere, go rulaganya maeto a botsogo, go fa bogakolodi le thuto, le go thusa go 
 bona ditharabololo tsa dikgwetlho tse o kopanang le tsone. Re tla go leletsa morago ga loeto la botsogo lengwe 
 le lengwe, fa maduo a gago a tsile, le fa re akanya gore go go leletsa go ka fefosa tlhokomelo ya gago. Fa motse 
 wa gaeno o sa tlhophelwa lenaneo la Potlako+, o tla amogela mogala wa kemo-nokeng gompieno, mo kgweding tse thataro 
 le tse di lesome le bobedi.<br> <br>
 
 <strong> A o na le dipotso gone jaana? [Ema sebakanyana]</strong> <br> <br>
				
 Ga re akanye gore tshekatsheko e ka tswa e sa siamela bontsi jwa balwetsi. Le fa go ntse jalo, ka dinako dingwe, re 
 ka go leletsa ka nako e e sa go siamelang, kgotsa dipotso tsa rona di ka seke tsa go tsaya sentle. O ka re bolelela 
 gore re go leletse ka nako e nngwe e sele, mme ebile o ka gana go araba potso epe e o sa batleng go e araba. Re tla 
 babalela kitso ya gago ya sephiri ka kelotlhoko.   <br> <br>

 Ga re kake ra solofetsa dipoelo dipe mo go wena kgotsa ba bangwe ba ba tsayang karolo mo tshekatshekong e. Le fa go 
 ntse jalo, re akanya gore bogakolodi le kemo-nokeng di tla thusa balwetsi ka bontsi go tlhaloganya bolwetsi jwa bone, 
 le go ithuta ka bofefo gore ba ka dira jang ka jone.  <br> <br>
			
 <strong> A o na le dipotso gone jaana? [ema sebakanyana]</strong> <br> <br>
			
 Fa re sa kgone go ikgolaganya le wena, re tla leka dinomore tsa ditsala le masika tse o re fileng tsone. Fa re ntse 
 re sa kgone go go tshwara, re tla bua le baeteledipele ba motse gore ba re thuse go golagana le wena. Re tla baya 
 kitso ya gago ya botsogo e le sephiri, re tla botsa fela ka tsela tse re ka go bonang ka tsone.  <br> <br>

 Go tsaya karolo mo tshekatshekong ke boithaopo jo bo feletseng. O ka tlhopha go tsaya karolo kgotsa nnyaa. Boemong 
 jwa go tsaya karolo mo tshekatshekong e, o ka tswelela ka go fiwa tlhokomelo e amanang le dikai tsa gago ya gale 
 le gale, ntle le gore re go leletse le go ema badiri ba gago ba botsogo nokeng. Batho ba ka nna  1500 ba tla tsaya 
 karolo mo tshekatshekong e. <br> <br>

 O  tla fiwa P50 wa go amogela mogala wa tshekatsheko ko tshimogolong, ka kgwedi ya borataro le ya lesome le bobedi, 
 mme madi otlhe e nne 150 pula. Madi a, a tla fiwa e le  “airtime”. Ga o na go fiwa madi a megala e re tlaabong re 
 bua le wena ka go rulaganyetsa maeto kgotsa re go fa kitso ya tlaleletso.  <br> <br>
