{% load static %}

<!doctype html>
<html>
<head>
   <meta charset="utf-8">
    <title>Verbal Script</title>
    <link type="text/css" rel="stylesheet" href="{% static 'potlako_dashboard/css/verbal_consent.css' %}">
    
    <link rel="shortcut icon" href="{% static 'potlako_dashboard/images/favicon.png' %}" type="image/png">
    <link rel="icon" href="{% static 'potlako_dashboard/images/favicon.png' %}" type="image/png" >
</head>

<body>
    <div class="order-box">
    	<div>
    		<img src="{% static 'potlako_dashboard/images/potlako_logo_small.png' %}"> 
       		<span> Potlako+ oral consent script, v1.0, 5 June 2019, English </span>
    	</div>
    	<form method = 'POST' id = "new_post" action = "{% url 'potlako_dashboard:verbal_consent_url'  screening_identifier  %}">
    	{% csrf_token %}
        <table cellpadding="0" cellspacing="0">
            
            <tr class="information">
                <td colspan="2">
                    <table>
                        <tr>
                           	<td>
                           		<span>
								   Protocol Title: Potlako+, an intervention to improve timely cancer diagnosis and care <br>
								   Principal Investigators:  Scott Dryden-Peterson, MD MSc and Neo Tapela, MD MPH <br>
								   Tlhaloso ya batsayakarolo ba tshekatsheko: Balwetsi ba ba ka tswang ba na le kankere <br>
								   Version Date: 5 June 2019 
                           		</span>
                           	</td>

                            <td style="border:none"></td>
                            
                        </tr>
                    </table>
                </td>
            </tr>

            
			
            <tr class="details">
                <td>
                    <!-- HTML Content -->
				     {% block verbal_consent_body %}
				
				       {% include 'potlako_dashboard/screening/verbal_consent_body_tn.html' %}
				
					 {% endblock verbal_consent_body %}
					  
					 <strong>A o dumela go tsaya karolo mo tshekatshekong e?</strong> <br> <br>
					 
					 <input type="radio" id="yes" name="consented" value="yes">
					 <label for="agree"> Ee:  Kwala mokwalo wa tetla, o bo o tswelela ka potsolotso ya go tsenelela tshekatsheko </label><br>
					 <input type="radio" id="no" name="consented" value="no">
					 <label for="disagree"> Nnyaa:  Mo lebogele nako ya gagwe. </label><br><br>
						
					 <label for="participant_name">Leina la motsayakarolo:</label>
					 <input type="text" id="participant_name" name="participant_name"><br>	
				      <br>
				
					 <strong> Yo o tsayang mokwalo wa tetla </strong>
					 Ke baletse motsayakarolo mokwalo o wa tetla. Ke file tlhaloso ya tshekatsheko, ke boditse motsayakarolo dipotso, a 
					 bo ka araba motsayakarolo ka mo go kgotsofatsang. Ka tshwetso yame, motsayakarolo o supile gore o tlhalogantse kitso e. 
					 Motsayakarolo o file tetla ya go tsaya karolo ka molomo. <br> 
							   
                </td>
            </tr>

            <tr class="heading">
                <td>
                    Leina le seemo(Title)  
                </td>
                <td>
                     
                </td>

            </tr>

            <tr class="item">
                <td>
					{{ user.first_name }} &nbsp;&nbsp; {{ user.last_name }} &nbsp;&nbsp;
                </td>
                
                <td>
                <input type="text" id="designation" name="designation"><br><br>
                </td>

            </tr>
            <tr class="heading">
                <td>
                    Monwana wa yo o tsayang mokwalo wa tetla
                </td>
                
                <td>
                    Letsatsi
                </td>

            </tr>

            <tr class="item">
            	<td>
                <input type="text" id="signature" name="signature"><br><br>
                </td>
                

                <td>
                    {{ verbal_consent_datetime|date:"SHORT_DATETIME_FORMAT" }}
                </td>
            </tr>
            
        </table>
        <input class="btn btn-primary" type="submit" value="Save">
        </form>
    </div>
    <script>
		$("input:checkbox").on('click', function() {
			var $box = $(this);
			if ($box.is(":checked")) {
				var group = "input:checkbox[name='" + $box.prop("name") + "']";
				$(group).prop("checked", false);
				$box.prop("checked", true);
			} else {
				$box.prop("checked", false);
			}
		});
    </script>
</body>
</html> 
